
{% extends "admin/change_list.html" %}
{% load static %}

<!-- Override extrahead to add Chart.js -->
{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script>
var randomColorGenerator = function () {
            return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
        };
        var options = {
            responsive: true,
            maintainAspectRatio: true,
            legend: {
                position: 'left'
            },
            title: {
                display: true
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        };
        window.onload = function () {
            var ctx = document.getElementById("myChart");
            {% regroup cl.queryset|dictsort:"gaze_target" by gaze_target as target_list %}
            var lineChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{% for target in target_list %}'{{ target.grouper }}',{% endfor %}],
                    datasets: [{
                        data: [{% for target in target_list %}'{{ target.list|length }}',{% endfor %}],
                        backgroundColor: [{% for target in target_list %}randomColorGenerator(),{% endfor %}]
                    }]
                },
                options: options
            });
        }
</script>
{% endblock %}

{% block content %}

<div style="width: 80%;">
  <canvas style="margin-bottom: 30px; width: 60%; height: 50%;" id="myChart"></canvas>
</div>
{{ block.super }}
{% endblock %}